html, body, #root {
    height: 100%;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-register {
    min-width: calc(100% - 2rem);
}

@media screen and (min-width: 576px) {
    .card-register {
        min-width: 450px;
    }
}